body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

h1{
    color: #333;
}

p{
    color: #666;
}

button{
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(77, 100, 255);
    color: antiquewhite;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
    
}

button:hover{
    background-color: rgb(31, 0, 142);
}

#card {
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 20px 180px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 100px 20px rgba(255, 255, 255, 0.5);
    transition: all 1s;
}

#card:hover {
    box-shadow: 10px 0 100px 100px rgba(255, 255, 255, 0.5);
    
}